/* Reset default styles */

html, body, #root-section {
  margin: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

html {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  cursor: default;
}

input, textarea, select, button, img {
  -webkit-user-drag: none;
}

.draggable {
  -webkit-app-region: drag;
}

.selectable {
  -webkit-user-select: auto;
  cursor: auto;
}
